.main{
    height:90vh;
    width:100%;
    background-image:url("main.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-color:rgb(255, 223, 17);
    display:flex;
    flex-direction:column;
    align-items:center;
}
.name{
    font-size:100px;
    font-family:cursive;
    color:rgb(33, 243, 239);
}
.prof{
    font-family:fantasy;
    font-size:60px;
    position:absolute;
    top:180px;
    color:rgb(33, 243, 239);
    letter-spacing:4;
}
.profile{
    margin-top:30vh;
    height:200px;
    width:200px;
    border-radius:50%;
    background-image:url("profile.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.hello{
    color:aqua;
    font-size:30px;
    width:200px;
    text-align:center;
}
.intro{
    height:300px;
    font-size:20px;
    width:300px;
    text-align:left;
}
.middle{
    display:flex;
    flex-direction:column;
    align-items:center;
}