*{
    padding:0;
    margin:0;
}

.my-8{
    margin:6rem;
}


.mt-7{
    margin-top:5rem;
    background: #66BFBF;
}






/* ------------- Primary css------------- */
.main{
    height:90vh;
    width:100%;
    background-image:url("main.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-color:rgb(255, 223, 17);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

@media(max-width:756px){
    .main{
        background-image:url("img4.jpg");
    }
}



.name{
    font-size:100px;
    font-family:cursive;
    color:rgb(33, 243, 239);
}
.prof{
    font-family:fantasy;
    font-size:60px;
    color:rgb(33, 243, 239);
    letter-spacing:4;
}
.profile{
    margin-top:20vh;
    height:200px;
    width:200px;
    border-radius:50%;
    background-image:url("profile.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.hello{
    color:aqua;
    font-size:30px;
    width:200px;
    text-align:center;
}
.intro{
    height:50px;
    font-size:20px;
    width:300px;
    text-align:left;
}
.middle{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.skills{
    font-size:40px;
    margin-top:20vh;
    color:aqua;
}
.img1{
    height:300px;
    background-image:url("skills.gif");
    width:300px;
    background-repeat:no-repeat;
    background-size:cover;
}
.skilltext1{
    height:40vh;
    width:25vw;
}
#skills{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.skill2{

}
.skillimg1{
    display:flex;
    justify-content:center;
    align-items:center;
}
.skillimg2{
    display:flex;
    justify-content:center;
}
.skilltext2{

}
.last{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:20px;
}
.but{
    background:aqua;
    border-radius:6px;
    border:none;
}